.row {
    padding: 0.5rem 0;
    border-bottom: 1px solid #555;
}

.buttons {
    padding: 0.5rem;
    background-color: #555;
    border: none;
    border-radius: 0;
    color: #ddd;
    text-decoration: none;
}

.buttons:focus {
    background-color: #555;
    border-color: #555;
    color: #fff;
}

.buttons:hover {
    background-color: #555;
    color: #fff;
}

.green {
    color: lightgreen;
}

.red {
    padding: 0 0.5rem;
    background-color: #555;
    color: lightcoral;
}