.login-container {
    margin-top: 5rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 40px -10px #000;
}

button {
    font-size: 1.1rem;
    letter-spacing: 2px;
    background-color: #000;
    border-color: #000;
    color: orange;
}

button:focus {
    font-size: 1.1rem;
    letter-spacing: 2px;
    background-color: #000;
    border-color: #000;
    color: orange;
}

button:hover {
    background-color: #000;
    color: #FFD580;
}

input {
    background-color: #fff;
    border-color: #000;
}

img {
    width: 6.5em;
    margin: 0px auto;
    display: block;
    position: relative;
    bottom: 3rem;
}

.footer {
    border-radius: 0 0 4px 4px;
    background-color: #777;
}

a {
    text-decoration: none;
    color: #FFD580;
}

a:hover {
    color: #000;
}