<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 col-sm-12 p-0 login-container">
            
            <img src="/assets/icons/user_icon.png" alt="user-icon">
            
            <div class="header text-center ">
                <h3 class="text-secondary">Bejelentkezés</h3>
            </div>
            <form (ngSubmit)="login()">
            <div class="form-group m-4">
                <input type="text" id="email" name="email" [(ngModel)]="getEmail" class="form-control mb-4 p-2 ps-3"  placeholder="email cím">
                <input type="password" id="password" name="email" [(ngModel)]="getPassword" class="form-control mb-4 p-2 ps-3" placeholder="jelszó">
                <button type="submit" class="btn btn-success form-control p-2">Bejelentkezés</button>
            </div>
            </form>
            <div class="footer p-3 text-center">
                <a href="/login/forgotpassword">Elfelejtette a jelszavát?</a>
            </div>
        </div>
    </div>
  </div>
