<app-header></app-header>

<div class="row d-flex justify-content-center space-up">
    <div class="col-lg-6 col-md-8 col-sm-12">

      <div *ngFor="let data of condoDatas | async" class="data">
        <div class="title-container">
        <div class="title-row">
          <div class="data-title">{{ data.title }}</div>
        </div>
        <div class="title-row-end"></div>
      </div>

        <div class="data-container">
        <div class="data-row">
            <div class="data-data">{{ data.data }}</div>
        </div>
        <div class="data-row-start"></div>
      </div>

    </div>

</div>
    </div>


<app-userfooter></app-userfooter>

