* {
    border-radius: 0;
}

.buttons {
    padding: 0.5rem;
    background-color: #555;
    border-color: #555;
    border-radius: 0;
    color: #ddd;
    text-decoration: none;
}

.buttons:focus {
    background-color: #555;
    border-color: #555;
    color: #fff;
}

.buttons:hover {
    background-color: #555;
    color: #fff;
}

.red {
    color: lightcoral;
}

.blue {
    color: lightblue;
}

.green {
    color: lightgreen;
}

a {
    cursor: pointer;
}


::ng-deep .pagination .page-item .page-link {
    color: #495464;
    border: 1px solid #495464;
    background-color: #fff;
    border-radius: 0;
}

ngb-pagination {
    border-radius: 0;
}

ngb-pagination::ng-deep .page-link:focus {
    box-shadow: none;
    background-color: #495464;
    color: #fff;
    border-radius: 0;

}

.search-input {
    padding: 0.375rem;
    border: 1px solid #555;
    border-radius: 0;
}

select {
    background-color: #F4F4F2;
    border: none;
    cursor: pointer;

}

.alert {
    text-align: center;
    font-weight: bold;
}