<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">Biztosan törlöd a lakó adatait?</div>

    <div class="row">
      <div class="col-6 d-flex justify-content-start">
          <a class="buttons blue" (click)="close()">
              Mégsem
          </a>
      </div>
      <div class="col-6 d-flex justify-content-end">
          <a class="buttons red" (click)="closeAndDelete()">
              Törlés
          </a>
      </div>
  </div>
  
