* {
    border-radius: 0;
}

.row {
    margin: 1rem auto;
}

.buttons {
    padding: 0.5rem;
    background-color: #555;
    border-color: #555;
    border-radius: 0;
    color: #ddd;
    text-decoration: none;
}

.buttons:focus {
    background-color: #555;
    border-color: #555;
    color: #fff;
}

.buttons:hover {
    background-color: #555;
    color: #fff;
}

.red {
    color: lightcoral;
}

.blue {
    color: lightblue;
}

a {
    cursor: pointer;
}

input {
    border-radius: 0;
}

input:focus {
    border-radius: 0;
}

.modal-header {
    background-color: #555;
    color: #eee;
}