.container {
    margin-top: 4rem;
}

.modal-content {
    width: 700px;
    margin-left: -101px;
}

h2 span {
    margin-left: 1rem;
    font-size: 1rem;
}

.header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.header-items {
    display: flex;
    align-items: center;
}

.meters-list {
    padding: 0 0.75rem;
    margin-bottom: 1rem;
}

.meters-list-header {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    background-color: #666;
    color: #eee;
}

.meters-list-body {
    border-bottom: 1px solid #777;
}

.user-frame {
    padding: 0.5rem 0 0.25rem 0.5rem;
}

input[type=number] {
    height: 2rem;
    max-width: 97%;
    border-radius: 0;
    padding-right: 0.5rem;
    background-color: #fff;
    text-align: end;
    font-weight: bold;
}

.meters-actions {
    margin-top: 1.25rem;
    padding: 0.25rem 0;
    height: 3rem;
    display: flex;
    flex-direction: row-reverse;
}

.paginationControl {
    display: flex;
    align-items: center;
}

option:checked,
option:hover {
    background-color: #495464;
    color: #F4F4F2;
}

.cold {
    color: blue;
    width: 7rem;
}

.hot {
    color: red;
    width: 7rem;
}

.warm {
    color: brown;
    width: 7rem;
}

.title-select {
    font-size: 2rem;
    margin: 0.5rem 0 0 1rem;
}

.title {
    display: flex;
    align-items: center;
}

.modal-content td {
    text-align: right;
}


.btn-close,
.modal-body,
.modal-content {
    border-radius: 0;
}

.modal-dialog {
    width: 800px;
    height: 600px;
}

td {
    padding-right: 1.5rem;
}