<app-adminmenu></app-adminmenu>

    <div class="container">
        <h2 class="mt-2">Óraállások<span>{{getYearAndMonth()}}</span></h2>
        
      <div class="row row-cols-auto header">
 
        <div class="col h-100 header-items pt-3">
       
          <ngb-pagination [collectionSize]="filteredUsers.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="3" [rotate]="false" [ellipses]="true" [boundaryLinks]="false">
          </ngb-pagination>
      
        </div>
        <div class="col h-100 header-items">
          <span>Lakó/oldal:</span>
          <select class="form-select-sm" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
          </select>
        </div>
        <div class="col h-100 header-items justify-content-end">
          <input type="text" class="search-input" placeholder="keresés..." [(ngModel)]="searchTerm" (input)="filterUsers()">
        </div>
      </div>
        
      <ng-container *ngIf="error; else waiting"></ng-container>

      <div class="meters-list">
        <div class="meters-list-header row">
          <div class="col">
            Lakó neve/lakás:
          </div>
          <div class="col">
            Mérőórák:
          </div>
          <div class="col text-end">
            Műveletek:
          </div>
        </div>

        
        <div class="meters-list-body row"  *ngFor="let user of filteredUsers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
         
          <div class="col user-frame">
              <b>{{user.personalData.name}}</b><br> - {{ user.personalData.building + '/' + user.personalData.floor + '/' + user.personalData.door}}
            </div>
            
            <div class="col row" *ngIf="user.personalData.hasMeter === 1">
              
            <div class="col user-frame">
            <span>Hideg I.:</span> <input [(ngModel)]="user.meterData.meterColdOne" class="form-control cold" type="number">
          </div>
            <div class="col user-frame" *ngIf="meterNumber === '4'">
           <span> Hideg II.:</span> <input [(ngModel)]="user.meterData.meterColdTwo" class="form-control cold" type="number">
          </div>
        </div>

        <div class="col row" *ngIf="user.personalData.hasMeter === 1">
            <div class="col user-frame">
            <span>Meleg I.:</span> <input [(ngModel)]="user.meterData.meterHotOne" class="form-control hot" type="number">
          </div>
            <div class="col user-frame" *ngIf="meterNumber === '4'">
           <span>Meleg II.:</span> <input [(ngModel)]="user.meterData.meterHotTwo" class="form-control hot" type="number">
          </div>
        </div>

        <div class="col row" *ngIf="user.personalData.hasMeter === 1">
            <div class="col user-frame">
           <span>Hőmennyiség:</span> <input [(ngModel)]="user.meterData.amountOfHeat" class="form-control warm" type="number">
          </div>
        </div>

        <div class="col meter-actions mt-3" *ngIf="user.personalData.hasMeter != 1">
          Nincs vízóra!
        </div>

        <div class="col row" *ngIf="user.personalData.hasMeter === 1">
          <div class="col meters-actions">
            <a (click)="saveMeter(user.id)" class="buttons green">
              Mentés
            </a>
            <a (click)="openPreviousData(modalContent, user.id, user.personalData.name)" class="buttons blue">
              Előző
            </a>
          </div>
        </div>

        </div>
      </div>
      </div>
       
   
<ng-template #modalContent let-modal>
  <!-- <div class="modal-dialog modal-lg" > -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ userName }} korábbi óraállásai</h4>
        <button type="buttons" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Dátum</th>
              <th>Hideg I.</th>
              <th *ngIf="meterNumber === '4'">Hideg II.</th>
              <th>Meleg I.</th>
              <th *ngIf="meterNumber === '4'">Meleg II.</th>
              <th>Hőmennyiség:</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of data">
              <td><b>{{ entry.key }}</b></td>
              <td>{{ entry.value.meterColdOne }}</td>
             <td *ngIf="meterNumber === '4'">{{ entry.value.meterColdTwo }}</td>
              <td>{{ entry.value.meterHotOne }}</td>
              <td *ngIf="meterNumber === '4'">{{ entry.value.meterHotTwo }}</td>
              <td>{{ entry.value.amountOfHeat }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="buttons" (click)="modal.close('Close click')">Bezár</button>
      </div>
    </div>
  <!-- </div> -->
</ng-template>

<app-adminfooter></app-adminfooter>

<ng-template #waiting>
  <div class="alert alert-warning" role="alert">
      Várakozás a szerverre!
    </div>
</ng-template> 