.container {
    margin-top: 4rem;
}

.header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.header-items {
    display: flex;
    align-items: center;
}

.meters-list {
    padding: 0 0.75rem;
}

.meters-list-header {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    background-color: #666;
    color: #eee;
}

.meters-list-body {
    border-bottom: 1px solid #777;
}

.user-frame {
    padding: 0.5rem 0 0.25rem 0.5rem;
}

input[type=number] {
    height: 2rem;
    border-radius: 0;
    padding-right: 0;
    background-color: #fff;
    text-align: end;
    font-weight: bold;
}

.meters-actions {
    margin-top: 1.25rem;
    padding: 0.25rem 0;
    height: 3rem;
    display: flex;
    flex-direction: row-reverse;
}

.buttons {
    padding: 0.5rem;
    margin-left: 0.25rem;
    background-color: #555;
    border-color: #555;
    border-radius: 0;
    color: #ddd;
    text-decoration: none;
}

.buttons:focus {
    background-color: #555;
    border-color: #555;
    color: #fff;
}

.buttons:hover {
    background-color: #555;
    color: #fff;
}

button {
    border: none;
}

a {
    cursor: pointer;
}

::ng-deep .pagination .page-item .page-link {
    color: #495464;
    border: 1px solid #495464;
    background-color: #fff;
    border-radius: 0;
}

ngb-pagination::ng-deep .page-link:focus {
    box-shadow: none;
    background-color: #495464;
    color: #eee;
}

.paginationControl {
    display: flex;
    align-items: center;
}

select {
    background-color: #F4F4F2;
    border: none;
    cursor: pointer;
}

option:checked,
option:hover {
    background-color: #495464;
    color: #F4F4F2;
}

.search-input {
    padding: 0.375rem;
}


.cold {
    color: blue;
    width: 7rem;
}

.hot {
    color: red;
    width: 7rem;
}

.warm {
    color: brown;
    width: 7rem;
}

.title-select {
    font-size: 2rem;
    margin: 0.5rem 0 0 1rem;
}

.title {
    display: flex;
    align-items: center;
}

.modal-content td {
    text-align: right;
}


.green {
    color: lightgreen;
}

.red {
    color: lightcoral;
}

.blue {
    color: lightblue;
}

.btn-close,
.modal-body,
.modal-content {
    border-radius: 0;
}

.alert {
    text-align: center;
    font-weight: bold;
}