.cont {
    padding: 0 1.5em;
}

.content {
    /* width: 100%; */
    border-top: 4px solid orange;
    height: 2rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 40px -10px #000;

}

.left,
.right {
    padding-top: 0.25em;
    font-size: 0.8rem;
    color: orange;
    display: inline;
    width: 50%;
}

.left {
    padding-left: 1em;
}

.right {
    padding-right: 1em;
    text-align: right;
    background-color: #000;
}

.box {
    width: 3em;
    margin-right: -2em;
    background-color: #000;
    transform: skewX(-20deg);
}