<div class="container">

        <div class="row header">
          <div class="col header-title">
            {{condoName}} társasház
          </div>
          <div class="col header-email">
            {{userEmail}}
          </div>
          <div class="col header-logout">
            <a (click)="logout();">Kilépés</a>
          </div>
        </div>

    <div *ngIf="enableDictate" class="reminder">
        Az óraállások leadhatóak!
    </div>

    <div class="menu-container">
        
        <div class="menu-items">
            <div class="menu-image">
                <i class="fa fa-newspaper fa-3x"></i>
            </div>
            <div class="menu-info">
                <span  *ngIf="newBulletin">{{newBulletin}} új</span>
                <span  *ngIf="!newBulletin">Nincs új</span>
            </div>
            <div class="menu-title">
                <a class="menu-title-a" data-bs-toggle="collapse" data-bs-target="#bulletinBoard" aria-expanded="false" aria-controls="collapseExample">
                    Hírek
                </a>
            </div>
        </div>
        <div class="menu-content">
        <div class="collapse" id="bulletinBoard" *ngFor="let bulletin of bulletinBoardData;">
            <div class="reminder-info">Létrehozva: {{ formatTimestamp(bulletin.timestamp) }}</div>
            <div *ngIf="isEntryNew(bulletin.timestamp)">
                <span class="red">Új bejegyzés!</span>
              </div>
                <br>
                <div [innerHTML]="sanitizeHTML(bulletin.content)"></div>
                <hr>
        </div>
    </div>

        <div class="menu-items">
            <div class="menu-image">
                <i class="fa fa-magnifying-glass-chart fa-3x"></i>
            </div>
            <div class="menu-info">
                
            </div>
            <div class="menu-title">

            <a class="menu-title-a" data-bs-toggle="collapse" data-bs-target="#datas" aria-expanded="false" aria-controls="collapseExample">
                Adatok
            </a>
            </div>
        </div>
            <div class="menu-content">
                <div class="collapse" id="datas">
                    <app-condodatas></app-condodatas>
                        <hr>
                </div>
            </div>
       

        <div class="menu-items">
            <div class="menu-image">
                <i class="fa fa-circle-dollar-to-slot fa-3x"></i>
            </div>
            <div class="menu-info">
                
            </div>
            <div class="menu-title">

            <a class="menu-title-a" data-bs-toggle="collapse" data-bs-target="#costs" aria-expanded="false" aria-controls="collapseExample">
                Költségek
            </a>
            </div>
        </div>
            <div class="menu-content">
                <div class="collapse" id="costs">
                    <app-costs></app-costs>
                        <hr>
                </div>
            </div>
     
    
        <div class="menu-items">
            <div class="menu-image">
                <i class="fa fa-gauge fa-3x"></i>
            </div>
            <div class="menu-info">
                <span class="start-end">{{startDictate}}.-tól {{endDictate}}.-ig</span>
            </div>
            <div class="menu-title">

            <a class="menu-title-a" data-bs-toggle="collapse" data-bs-target="#dictate" aria-expanded="false" aria-controls="collapseExample">
                Diktálás
            </a>
            </div>
        </div>
        <div class="menu-content">
            <div class="collapse" id="dictate">
                <app-savemeters></app-savemeters>
                    <hr>
            </div>
        </div>

        <div class="menu-items">
            <div class="menu-image">
                <i class="fa fa-id-card fa-3x"></i>
            </div>
            <div class="menu-info">
                
            </div>
            <div class="menu-title">

            <a class="menu-title-a" data-bs-toggle="collapse" data-bs-target="#myprofile" aria-expanded="false" aria-controls="collapseExample">
                Profilom
            </a>
            </div>
        </div>
            <div class="menu-content">
                <div class="collapse" id="myprofile">
                    <app-myprofile></app-myprofile>
                        <hr>
                </div>
            </div>
    </div>




