.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.container-fluid {
    background-color: #495464;
    width: 100%;
}

.navbar {
    background-color: transparent !important;
    padding-top: 0;
}

ul li a {
    color: #F4F4F2;
    font-size: 1.2em;
}

ul li a:hover {
    color: #aaa;
}

ul li button {
    color: #F4F4F2;
}

ul li div {
    color: #F4F4F2;
}

.custom-toggler {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.bar {
    display: block;
    width: 2rem;
    height: 2px;
    background-color: #F4F4F2;
    margin: 7px 0;
}