<app-adminmenu></app-adminmenu>
<div class="container">
   <h2 class="mt-3">Beállítások</h2>
    <div class="mt-5">
      <h3 class="mb-3">Diktálási időszak</h3>
      <p>A lakók az óraállásokat a két dátum közötti időszakban adhatják le online.</p>
      <div class="row">
      <div class="col-12">
        <label for="start">Kezdete:</label>
        <input class="form-control short" type="number" id="start" name="start" [(ngModel)]="measureRecStart">
        </div>
        <div class="col-12">
        <label for="end">Vége:</label>
        <input class="form-control short" type="number" id="end" name="end" [(ngModel)]="measureRecEnd">
      </div>
      <div class="col-12">
        <div class="col editor-buttons mt-4">
          <a (click)="saveRecDate()" class="buttons green">
            Mentés
          </a>
        </div>
      
</div>
</div>
    </div>
<hr>
     

<div class="mt-1">
  <h3 class="mb-3">Vízórák száma</h3>
  <div class="row ps-4"> 
    <div class="col-12 form-check">
    <label for="radio2" class="form-check-label mb-4">2</label>
    <input class="form-check-input" type="radio" id="radio2" name="numOfMeter" [(ngModel)]="meterNumber" value="2">
    </div>  
    <div class="col-12 form-check">
    <label for="radio4" class="form-check-label">4</label>
    <input class="form-check-input" type="radio" id="radio4" name="numOfMeter" [(ngModel)]="meterNumber" value="4">
    </div>
  
    <div class="col-12 editor-buttons">
      <a (click)="saveMeterNumber()" class="buttons green">
        Mentés
      </a>
    </div>
  </div>

</div>


<hr>
    <div class="mt-1">
      <h3 class="mb-3">Költségek</h3>
      <p>Vízfelmelegítési díj, közös költség, fűtés költségek beállítása. Amelyiket nem akarod használni, hagyd üresen.</p>
      <div class="costs">
        <div class="row">
          <div class="col-12 mb-3">
            <label for="commonCost" class="costLabel">Közös költség:</label>
            <input class="form-control medium" type="number" id="commonCost" name="commonCost" [(ngModel)]="commonCost">
            <span class="ms-2">Ft/m<sup>2</sup></span>
        </div>
            <div class="col-12 mb-3">
            <label for="waterHeating" class="costLabel">Vízfelmelegítési díj :</label>
            <input class="form-control medium" type="number" id="waterHeating" name="waterHeating" [(ngModel)]="waterHeating">
            <span class="ms-2">Ft/m<sup>3</sup></span>
        </div>
      </div>
      
      <div class="row" >
        <div class="col-12 mb-3">
            <label for="heatingBase">Fűtés alapdíj:</label>
            <input class="form-control medium" type="number" id="heatingBase" name="heatingBase" [(ngModel)]="heatingBase">
            <span class="ms-2">Ft</span>
            </div>
        <div class="col-12 mb-3">
            <label for="heatingMulti">Fűtés egység szorzó:</label>
            <input class="form-control medium" type="number" id="heatingMulti" name="heatinMulti" [(ngModel)]="heatingMulti">
            <span class="ms-2">Ft</span>
            </div>
      </div>
      <div class="row">
        <div  class="col-12 mb-3">
          <label for="subdeposit">Albetéti díj (vízóra nélküli lakásnak):</label>
          <input class="form-control medium" type="number" id="subdeposit" name="subdeposit" [(ngModel)]="subdeposit">
          <span class="ms-2">Ft</span>
        </div>
        <div class="col">

        </div>
      </div>
      <div class="editor-buttons">
        <a (click)="saveCostDatas()" class="buttons green">
          Mentés
        </a>
      </div>
      </div>  
</div>
    
<hr>
    <div class="mt-1">
        <h3 class="mb-3">A társasház adatai</h3>
        <p>A beviteli mezőkben tudod rögzíteni a házzal kapcsolatos adatokat. pl. így: 
        Első oszlop: <b>Közös képviselő</b>, második oszlop: <b>Kovács Béla</b></p>
        <p class="mb-3">Ez így fog megjelenni az oldalon: <b>Közös képviselő: Kovács Béla. </b> A sor<b> törlés</b>éhez töröld ki mind a két mezőt és nyomj a 
            <i>Mentés</i> gombra. </p>
        
        <div class="mt-3" *ngFor="let data of condoDatas">
            <form #dynamicForm="ngForm">
                <div class="row row-flex" data-id="{{data.id}}">
                  <div class="col-md-5 mb-2">
                    
                    <input type="text"
                           class="form-control" 
                           id="title" 
                           name="title" 
                           [(ngModel)]="data.title"
                           required [attr.readonly]="data.editable ? null : 'true'" 
                           placeholder="Cimke:">
                  </div>
                  <div class="col-md-5 mb-2">
                    
                    <input type="text"
                           class="form-control" 
                           id="data" 
                           name="data" 
                           [(ngModel)]="data.data" required
                           placeholder="Adat:">
                  </div>
                  <div class="col-md-2">
                    <div class="editor-buttons">
                      <a (click)="saveDataRow(data.id, data.title, data.data)" class="buttons green">
                        Mentés
                      </a>
                    </div>
                    </div>
                  
                </div>
            </form>
          </div>

        <hr>
      </div>   
</div>

<app-adminfooter></app-adminfooter>
