.container {
    margin-top: 4rem;
}

input {
    font-weight: bold;
    display: inline;
}

input[type=radio] {
    margin-right: 1rem;
}

label {
    width: 12rem;
}

.short {
    width: 4rem;
    text-align: right;
}

.medium {
    width: 6rem;
    text-align: right;
}

.editor-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}