<div class="container">
  <div class="addsection">
    <div class="text-center mt-2"><h2>Új lakó hozzáadása</h2></div>
    <div class="row">
      <div class="col-lg-8">
        <div class="data-input">
          <form [formGroup]="addForm" novalidate class="form">
            <ng-container *ngFor="let field of formFields">
              <div class="row">
                <div class="col-md-6">{{ field.label }}:</div>
                <div class="col-md-6">
                  <input *ngIf="field.type !== 'select'; else selectField" 
                         type="{{ field.type }}" 
                         class="form-control" 
                         [name]="field.name" 
                         [formControlName]="field.name">
                  <ng-template #selectField>
                    <select class="form-control" [name]="field.name" [formControlName]="field.name">
                      <option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</option>
                    </select>
                  </ng-template>
                </div>
              </div>
            </ng-container>
            
            <div class="row">
              <div class="col-md-12">
                <a href="admin/users" class="me-5">
                  <img src="assets/icons/back-icon.png" alt="">
                </a>
                <a class="" (click)="onSubmit()">
                  <img src="assets/icons/save-icon.png" alt="">
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
