.cont {
    padding-top: 1rem;
}

.meter {
    margin-bottom: 1rem;
}

span {
    font-weight: bold;
    color: #444;
}

.savemeter {
    width: 22%;
    padding: 0 0 0 0.5rem;
    background-color: #C68484;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type=number] {
    border: 1px solid #C68484;
}

.reminder {
    background-color: #C68484;
    color: #fff;
    padding: 0 0 0 0.5rem;
}

.reminder-error {
    background-color: #9B4444;
    color: #fff;
    padding: 0 0 0 0.5rem;
}