
<div class="row d-flex justify-content-center cont">
    <div class="col-lg-6 col-md-8 col-sm-12">
      
    <div *ngIf="!enableDictate">
        <div class="reminder">
            <p>Az állások rögzítése még nem aktuális!<br>
            Diktálás minden hónap: {{startDictate}}. és {{endDictate}}. között.</p>
        </div>
    </div>

    <div *ngIf="errorMessage">
        <div class="reminder-error">
            <p>Nem töltöttél ki minden mezőt!</p>
        </div>
    </div>

    <div *ngIf="message">
        <div class="reminder">
            <p>{{ message }}</p>
        </div>
    </div>

    <div *ngIf="enableDictate" class="meters row">

    
            <div class="meter">
            <span>Hideg</span>
            <div class="box">
                <input type="number" placeholder="00000" [(ngModel)]="cold1">
            </div>
        </div> 
        
        <div class="meter">
            <span>Meleg</span>
            <div class="box">
                <input type="number" placeholder="00000" [(ngModel)]="hot1">
            </div>
        </div> 

        <div *ngIf="meterNum==4">
            
            <div class="meter">
                <span>Hideg II.</span>
                <div class="box">
                    <input type="number" placeholder="00000" [(ngModel)]="cold2">
                </div>
            </div> 
            
            <div class="meter">
                <span>Meleg II.</span>
                <div class="box">
                    <input type="number" placeholder="00000" [(ngModel)]="hot2">
                </div>
            </div> 

        </div>

        <div class="meter">
            <span>Hőmennyiség</span>
            <div class="box">
                <input type="number" placeholder="00000" [(ngModel)]="heat">
            </div>
        </div> 
        <div class="meter save">
            <div class="box">
                <div class="savemeter" (click)="save();">Mentés</div>
            </div>
        </div> 

    </div>

    </div>

