<div class="menu">
  <div class="title" (click)="toggleDropdown()">
    <span class="fa fa-bars"></span>
  </div>
  <div class="dropdown">
    <a href="lako/fooldal"><p>Hírek<span class="fa fa-newspaper"></span></p></a>
    <a href="lako/adatok"><p>Adatok<span class="fa fa-magnifying-glass-chart"></span></p></a>
    <a href="lako/koltsegek"><p>Költségek<span class="fa fa-circle-dollar-to-slot"></span></p></a>
    <a href="lako/diktalas"><p>Diktálás<span class="fa fa-gauge"></span></p></a>
    <a href="lako/profilom"><p>Profilom<span class="fa fa-id-card"></span></p></a>
    <a  (click)="logout()"><p>Kijelentkezés<span class="fa fa-sign-out"></span></p></a>
  </div>
</div>