
<div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">


      <div *ngFor="let data of datas" class="data">
        <div class="title-container">
            <div class="title-row">
              <div class="data-title">{{data.title}}</div>
            </div>
          </div>
        
            <div class="data-container">
            <div class="data-row">
                <div class="data-data" [innerHTML]="data.value"></div>
            </div>
          </div>
        </div>
          
    </div>

