.login-container {
    margin-top: 5rem;
    background-color: #F4F4F2;
    border-radius: 5px;
    box-shadow: 3px 3px 10px grey;
}

button {
    font-size: 1.1rem;
    letter-spacing: 2px;
    background-color: #495464;
    border-color: #495464;
}

button:hover {
    background-color: #495464;
    color: #BBBFCA;
}

button:focus {
    background-color: #495464;
    color: #fff;
}

input {
    background-color: #F4F4F2;
    border-color: #495464;
}

img {
    width: 6.5em;
    margin: 0px auto;
    display: block;
    position: relative;
    bottom: 3rem;
}

.footer {
    border-radius: 0 0 5px 5px;
    background-color: #BBBFCA;
}

a {
    text-decoration: none;
    color: #F4F4F2;
}

a:hover {
    color: #495464;
}