<div class="container">
    <div class="row content-frame">
    <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="row content h-100">
        <div class="col-lg-6 col-sm-12 left-content">
            <img src="/assets/images/condominium-draw2.jpg" alt="user-icon">
        </div>
        <div class="col-lg-6 col-sm-12 login-container">
                <h3 class="">Jelszó megváltoztatása</h3>
                <p>Az email címére küldött linkre kattintva az ön biztonsága érdekében váltotassa meg a jelszavát!</p>
            <div class="footer text-center mb-4">
                <a href="/login">Vissza</a>
            </div>
        </div>
    </div>
    </div>
</div>
</div>

<!-- <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 col-sm-12 p-0 login-container">
            
            <img src="/assets/icons/reset_icon.png" alt="user-icon">
            
            <div class="header text-center ">
                <h3 class="text-secondary mb-3">Jelszó megváltoztatása</h3>
                <p>Az email címére küldött linkre kattintva az ön biztonsága érdekében váltotassa meg a jelszavát!</p>
            </div>
            <div class="footer p-3 text-center">
                <a href="/login">Vissza</a>
            </div>
        </div>
    </div>
  </div> -->
