<app-adminmenu></app-adminmenu>

<div class="container">
  <h2 class="mt-2">Lakók adatai</h2>
  
<div class="row row-cols-auto header">
  <div class="col h-100 header-items">
    <a class="buttons green" (click)="openNewModal()">
      Lakó hozzáadása
    </a>
  </div>
  <div class="col h-100 header-items pt-3">
 
    <ngb-pagination [collectionSize]="filteredUsers.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="3" [rotate]="false" [ellipses]="true" [boundaryLinks]="false">
    </ngb-pagination>

  </div>
  <div class="col h-100 header-items">
    <span>Lakó/oldal:</span>
    <select class="form-select-sm" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
  </div>
  <div class="col h-100 header-items justify-content-end">
    <input type="text" class="search-input" placeholder="keresés..." [(ngModel)]="searchTerm" (input)="filterUsers()">
  </div>
</div>

<div class="user-list">
  <div class="user-list-header row">
    <div class="col">
      Lakó neve:
    </div>
    <div class="col">
      Lakás:
    </div>
    <div class="col text-end">
      Műveletek:
    </div>
</div>
<div class="user-list-body row" *ngFor="let user of filteredUsers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
  <div class="col-lg-4 col-md-4 col-sm-6 user-name">
    <a class="username" 
            data-bs-toggle="collapse" 
            href="#{{user.id}}" 
            role="button" 
            aria-expanded="false" 
            aria-controls="collapseExample">
              <b>{{user.name}}</b>
            </a>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6  user-flat">
    {{ user.building + '/' + user.floor + '/' + user.door}}
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 user-actions">
    <a (click)="openDeleteModal(user.name, user.id)" class="buttons red">
      Töröl
    </a>
    <a (click)="openEditModal(this.user)" class="buttons blue">
      Módosít
    </a>
  </div>
  <div class="collapse" [id]="user.id">
    <div class="user-name">
      <b>Email:</b> {{user.email}}
    </div>
    <div class="user-name">
      <b>Telefon:</b> {{user.phone}}
    </div>
    <div class="user-name">
      <b>Méret:</b> {{user.squaremeter}}m<sup>2</sup>
    </div>
    <div class="user-name">
      <b>Egyenleg:</b> {{user.balance}}Ft
    </div>
    <div class="user-name">
      <b>Admin:</b> {{ user.isAdmin ? 'Igen' : 'Nem' }}
    </div>
  </div>

</div>
</div>

</div>
<app-adminfooter></app-adminfooter>


