<app-adminmenu></app-adminmenu>

<div class="container">
  <h2 class="mt-2">Lakók adatai</h2>

  
  <div class="row header">
    <div class="header-left col-lg-6 col-sm-12">
      <a class="buttons" href="admin/add">
        Lakó hozzáadása
      </a>
    </div>
    <div class="paginationControl header-right col-lg-6 col-sm-12">
    <ngb-pagination [collectionSize]="filteredUsers.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="3" [rotate]="false" [ellipses]="true" [boundaryLinks]="false">
    </ngb-pagination>
    <div>
    <div class="ms-2">
    <span>Lakó/oldal:</span>
    <select class="form-select-sm" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
  </div>
  </div>
    <input type="text" class="search-input" placeholder="keresés..." [(ngModel)]="searchTerm" (input)="filterUsers()">
</div>

  </div>
  <div class="table-container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Lakó neve</th>
        <th>Lakás</th>
        <th class="td-right">Műveletek</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td>
          {{user.name}}
          <div class="collapse" [id]="user.id">
            <ul>
              <li><b>Email:</b> {{ user.email }}</li>
              <li><b>Telefon:</b> {{ user.phone }}</li>
              <li><b>Nm:</b> {{ user.squaremeter }}m<sup>2</sup></li>
              <li><b>Egyenleg:</b> {{ user.balance }} Ft</li>
              <li><b>Admin:</b> {{ user.isAdmin ? 'Igen' : 'Nem' }}</li>
            </ul>
          </div>          
        </td>
        <td>
            {{ user.building + ' lph ' + user.floor + '. em. ' + user.door + '. ajtó'}}
        </td>
        <td class="td-buttons">
          <a (click)="openDeleteModal(user.name, user.id)" class="table-buttons red">
            Töröl
          </a>
          <a (click)="openEditModal(this.user)" class="table-buttons blue">
            Módosít
          </a>
          <a class="table-buttons green" 
            data-bs-toggle="collapse" 
            href="#{{user.id}}" 
            role="button" 
            aria-expanded="false" 
            aria-controls="collapseExample">
              Több
            </a>
          
        </td>
        </tr>

    </tbody>
  </table>
</div>
</div>
<app-adminfooter></app-adminfooter>


