<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-8 col-sm-12 p-0 login-container">
            
            <img src="/assets/icons/reset_icon.png" alt="user-icon">
            
            <div class="header text-center ">
                <h3 class="text-secondary mb-3">Elfelejtett jelszó visszaállítása</h3>
                <p>Az e-mail cím megadása és a Küldés gomb lenyomása után egy linket küldünk amin keresztül új jelszót állíthat be.</p>
            </div>
            <form (ngSubmit)="resetPassword(this.email)">
            <div class="form-group m-4">
                <input type="text" id="email" name="email" [(ngModel)]="email" class="form-control mb-4 p-2 ps-3"  placeholder="email cím" required ngModel>
                <button type="submit" class="btn btn-success form-control p-2">Küldés</button>
            </div>
            </form>
            <div class="footer p-3 text-center">
                <a href="/login">Mégsem</a>
            </div>
        </div>
    </div>
  </div>
