<div class="container">
    <div class="row content-frame">
    <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="row content h-100">
        <div class="col-lg-6 col-sm-12 left-content">
            <img src="/assets/images/condominium-draw.jpg" alt="user-icon">
        </div>
        <div class="col-lg-6 col-sm-12 login-container">
                <h3 class="">Elfelejtett jelszó</h3>
                <p>Az e-mail cím megadása és a Küldés gomb lenyomása után egy linket küldünk amin keresztül új jelszót állíthat be.</p>

                <form (ngSubmit)="resetPassword(this.email)">
                    <div class="form-group m-4">
                        <label for="" class="">E-mail cím</label>

                        <input type="text" id="email" name="email" [(ngModel)]="email" class="form-control mb-4 p-2 ps-3"  placeholder="email cím" required ngModel>
                        <button type="submit" class="btn btn-success form-control p-2">Küldés</button>
                    </div>
            </form>
            <div class="footer text-center mb-4">
                <a href="/login">Mégsem</a>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
